@import "reset";
@import "responsive";

@import "theme/_dark.scss";

.App {
  font-family: Arial;
  font-size: 20px;

  padding-top: 20px;

  background: darken(white, 2%);

  position: fixed;
  width: 100%;
  height: 100%;
  @include responsive(768px) {
    padding-top: 0;
  }
  .game,
  .difficulty {
    width: 640px;
    margin: auto;
    padding: 20px;
    @include responsive(768px) {
      width: 100%;
    }
  }
}

@import "./components/preloader";
@import "./components/difficulty";
@import "./components/game";
@import "./components/score";
@import "./components/settings";
